################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/CloudInvoice.Billing/CloudInvoice.Billing.Infrastructure/Migrations/20260909150824_initial.cs
/CloudInvoice.Billing/CloudInvoice.Billing.Infrastructure/Migrations/20260909150824_initial.Designer.cs
/CloudInvoice.Billing/CloudInvoice.Billing.Infrastructure/Migrations/20260907184727_initial.Designer.cs
/CloudInvoice.Billing/CloudInvoice.Billing.Infrastructure/Migrations/20260907184727_initial.cs
